.body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundColor);
}

.main {
    margin-top: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: auto;
}

.header {
    width: 100%;
    padding: 0px 30px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    margin-bottom: 36px;
}

.logo {
    user-select: none;
    pointer-events: none;
    height: 100%;
    width: 85.5px;
}

.list {
    padding: 20px;
    width: 100%;
    height: auto;
    display: grid;
    column-gap: 10px;
    row-gap: 20px;
    justify-items: center;
    margin-bottom: 20px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.footer {
    margin-top: auto;
    user-select: none;
    font-size: 12px;
    height: auto;
    color: white;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, var(--purple), var(--rose));
}

@media (max-width: 900px) {
    .body .main .header .button .line {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .logo {
        width: 70px;
        height: 40px;
    }

    .body .main .header .button {
        background-color: transparent;
        background-image: linear-gradient(to right, transparent, transparent);
    }

    .body .main .header .button img {
        padding: 10px;
        background-color: transparent;
        background-image: linear-gradient(to right, var(--purple), var(--rose));
        box-shadow: 0 0 10px var(--purple);
        animation: rotateIcon 3s linear infinite;
    }

    .body .main .header .button .line .text {
        display: none;
    }

    .footer {
        font-size: 10px;
    }

    .list {
        padding: 0px;
        row-gap: 0px;
        grid-template-columns: repeat(auto-fit, minmax(216px, 1fr));
    }

    .card_movie {
        transform: scale(0.9);
    }

    .card_movie:hover {
        transform: scale(0.8);
    }
}

@keyframes rotateIcon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}