.body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--backgroundColor);
}

.main {
    margin-top: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: auto;
    padding: 4%;
}

.header {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    margin-bottom: 36px;
}

.logo {
    user-select: none;
    pointer-events: none;
    height: 100%;
    width: 85.5px;
}

.list {
    width: 100%;
    gap: 10px;
    padding: 10px;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer {
    user-select: none;
    font-size: 12px;
    height: auto;
    color: white;
    padding: 10px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, var(--purple), var(--rose));
}